

**/altos*
**/decks*
**/Rule/**
display*
**/*.sp
**/*.db
**/*.rdb
**/*.log*
**/*.lef
**/*.gds
.cadence/
**/*.auCdl
**/*.results
**/*.summary
**/*report*
**/*rul*
**/*PIPO*
query_results
**/.simrc
**/netlist
**/ihnl/
**/map/
**/svdb/
**/si*



